$blue-lighter: #EBF5FB;
$blue: #81b3d2;
$blue--dark: #678fa8;
$blue--darker: #669ec0;
$blue--darkest: #5496bd;
$brown--lightest: #766357;
$brown--lighter: #604e43;
$brown--light: #4b4643;
$brown: #333333;
$white: #ffffff;
$black: #000000;
$card-background-header: $blue;
$card-background-main: #f2f2f2;
$grey--lighter: #eeeeee;
$grey: #e5e5e5;
$grey--dark: #dbdbdb;
$grey--darker: #d5d5d5;
$grey--very-dark: #b2b2b2;
$grey--darkest: #a4a4a4;
$grey--asphalt: #5c6870;
$red-error: #e37176;
$text-color-main: $brown;
$text-black: $black;
$text-color-contrast: white;
$primary-highlight-color: $blue;
$feature-color-small: $grey--lighter;
$decorative-line-color: $grey--dark;
$separator-color: $grey--darker;
$hero-bg-color: $blue;

$input-color--hovered: $grey;
$input-color--focused: $grey--darker;
$input-color--invalid: $red-error;
$input-color--disabled: $grey--darkest;
$video-track-color: $brown--light;
$video-buttons-handhelds-color: $grey--asphalt;
$video-buttons-handhelds-color--hovered: $brown;
$video-buttons-desktop-color--hovered: $grey--asphalt;
$video-buttons-desktop-color--activated: $brown--lightest;
$photos-bg-color: #ffe6a1;
$feature-image-bg-color: #ebb9a8;
// border-bottom: .1px solid #cacaca
